flora-red.json
[{"id":"87a8e18c.a020e","type":"inject","z":"b3d9928.85aaf7","name":"co 60 minut","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":130,"y":180,"wires":[["e7258a8b.0edc98"]]},{"id":"e7258a8b.0edc98","type":"flora","z":"b3d9928.85aaf7","name":"C4:7C:8D:61:9F:27","repeat":"5","timerepeat":"5","interval":"30","x":330,"y":180,"wires":[["68f7ee1b.ba605","7f3eb79.db3c148"]]},{"id":"68f7ee1b.ba605","type":"debug","z":"b3d9928.85aaf7","name":"","active":true,"console":"false","complete":"false","x":550,"y":180,"wires":[]},{"id":"7f3eb79.db3c148","type":"function","z":"b3d9928.85aaf7","name":"miFlora URL","func":"msg.pay = msg.payload;\nvar params = \"\";\nvar url = \"\";\nvar text ='';\n\nif (msg.payload){\n    var flora = JSON.parse(msg.payload);\n    if (flora.flora){\n        params += \"&field1=\"+flora.t;\n        params += \"&field2=\"+flora.m;\n        params += \"&field3=\"+flora.c;\n        params += \"&field4=\"+flora.l;\n        params += \"&field5=\"+flora.batt;\n        url = \"https://api.thingspeak.com/update?api_key=9WX9W3LEW2QT0VGG\";\n        url += params;\n        text = 'Temperarura '+flora.t+' stopni celcjusza';\n        text += 'Wilgotność gleby '+flora.m+' Procent'\n    }\n}\nmsg.payload = params;\nmsg.url = url;\nmsg.text=text;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":300,"wires":[["a9b47399.86304"]]},{"id":"a9b47399.86304","type":"switch","z":"b3d9928.85aaf7","name":"if is","property":"url","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":390,"y":300,"wires":[["637f95f2.350aec","67aaf309.e3dc3c","f2939a8f.109008"]]},{"id":"637f95f2.350aec","type":"http request","z":"b3d9928.85aaf7","name":"","method":"GET","ret":"txt","url":"","tls":"","x":570,"y":300,"wires":[[]]},{"id":"67aaf309.e3dc3c","type":"debug","z":"b3d9928.85aaf7","name":"","active":true,"console":"false","complete":"false","x":560,"y":240,"wires":[]},{"id":"f2939a8f.109008","type":"function","z":"b3d9928.85aaf7","name":"text 2 speach","func":"msg.payload = msg.text;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["39205b4e.6b0c04"]]},{"id":"39205b4e.6b0c04","type":"play audio","z":"b3d9928.85aaf7","name":"","voice":"14","x":570,"y":440,"wires":[]},{"id":"326b2adb.6605c6","type":"inject","z":"b3d9928.85aaf7","name":"","topic":"","payload":"Test polskiego języka","payloadType":"str","repeat":"","crontab":"","once":false,"x":280,"y":440,"wires":[["39205b4e.6b0c04"]]}]
