flora-red.json
[{"id":"6b692906.f9b1f8","type":"inject","z":"e94d9d27.01eaf","name":"co 15 minut","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"x":110,"y":100,"wires":[["a4adbdfe.fe423"]]},{"id":"a4adbdfe.fe423","type":"flora","z":"e94d9d27.01eaf","name":"C4:7C:8D:61:9F:27","repeat":"5","timerepeat":"5","interval":"30","x":310,"y":100,"wires":[["f04abad6.1f9018","d13e0996.267e18"]]},{"id":"f04abad6.1f9018","type":"debug","z":"e94d9d27.01eaf","name":"","active":true,"console":"false","complete":"false","x":530,"y":100,"wires":[]},{"id":"d13e0996.267e18","type":"function","z":"e94d9d27.01eaf","name":"miFlora URL","func":"msg.pay = msg.payload;\nvar params = \"\";\nvar url = \"\";\n\nif (msg.payload){\n    var flora = JSON.parse(msg.payload);\n    if (flora.flora){\n        params += \"&field1=\"+flora.t;\n        params += \"&field2=\"+flora.m;\n        params += \"&field3=\"+flora.c;\n        params += \"&field4=\"+flora.l;\n        params += \"&field5=\"+flora.batt;\n        url = \"https://api.thingspeak.com/update?api_key=9WX9W3LEW2QT0VGG\";\n        url += params;\n    }\n}\nmsg.payload = params;\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":220,"wires":[["7206863d.1f3ca8"]]},{"id":"7206863d.1f3ca8","type":"switch","z":"e94d9d27.01eaf","name":"if is","property":"url","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":370,"y":220,"wires":[["86caec6e.05903","98a8b2da.56d62"]]},{"id":"86caec6e.05903","type":"http request","z":"e94d9d27.01eaf","name":"","method":"GET","ret":"txt","url":"","tls":"","x":550,"y":220,"wires":[[]]},{"id":"98a8b2da.56d62","type":"debug","z":"e94d9d27.01eaf","name":"","active":true,"console":"false","complete":"false","x":540,"y":160,"wires":[]}]
